.card__delete-button_user {
    border: none;
    background-color: transparent;
    color: #FFFFFF;
    padding: 0;
    transition: .5s;
    align-self: center;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 20px;
    /* border: 1px red solid; */
}

.card__delete-button_user:hover {
    opacity: 0.6;
}
@media screen and (max-width: 960px) {
    .card__delete-button_user {
        right: 15px;
    }
}
@media screen and (max-width: 540px) {
    .card__delete-button_user {
        right: 10px;
    }
}