.list__niks {
    width: 100%;
    list-style: none;
    padding: 0;
<<<<<<< HEAD:blocks/list/__niks/list__niks.css
    margin: 20px auto;
  
=======
    margin: auto;
>>>>>>> 3265afb19e81600659fa362fd1f1a617a0dc9519:src/blocks/list/__niks/list__niks.css
    
}