.card__role-text {
    min-width: 195px;
    min-height: 30px;
    text-align: center;
    margin: 0;
    font-size: 17px;
    background: #b8cce7;
    border-radius: inherit;
   grid-column: -1;
}

@media screen and (max-width: 960px) {
    .card__role-text {
        font-size: 15px;
        /* min-width: 150px; */
    }
}

@media screen and (max-width: 540px) {
    .card__role-text {
        
        min-width: 114px;
    }
}